/* Clases genericas */

body{
    background-color: #2D2D2D;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

#background{
    background-color: #1C1C1C;
}

.bg_highlighted{
    background-color: #35bb10;
    color: white;
    font-weight: bold;
}

.highlight{
    font-weight: bolder;
    text-decoration: underline;
}

.titulo{
    font-weight: bolder;
    margin-top: 20vh;
    margin-bottom: 8vh;
}

.link-light{
    text-decoration: none;
}


/* Menu superior */

#menuPrincipal{
    padding-top: 20px;
    background-image: linear-gradient(#2D2D2D, #1C1C1C);
    font-size: larger;
}

#menuPrincipal ul{
    display: flex;
    list-style: none;
    justify-content:space-around;
}

#menuPrincipal li{
    padding: 10px;
    
}

#menuPrincipal a{
    text-decoration: none;
}

#menuPrincipal li:hover{
    border-bottom: 1px white solid; 
}

/* Inicio*/

#inicio {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    padding-top: 20vh;
}

.btn{
    width: 250px;
    font-size: 28px;
    border-radius: 100px;
    margin-top: 7vh;
    color: white;
}
.btn:hover{
    background-color: #45EF14 ;
    color: black;
    transition: 200ms;
}

#inicio h1{
    font-size: 64px;
}

#inicio h2{
    font-size: 28px;
    margin-top:10vh;
}

/* Sobre mi*/

#contenidoSobreMi{
    display: flex;
    font-size: 20px;
}

.textoSobreMi{
    padding: 10px;
}


#lenguajesUsados{
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    padding: 10px 20px;
}
#lenguajesUsados div{
    display: flex;
    flex-direction: column;
    margin: 10px;
}

/* Proyectos */

#contenidoProyectos{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#contenidoProyectos a{
    text-decoration: none;
}

.proyecto{
    width: 500px;
    border: 1px white solid;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.proyecto .portada{
    width: 50%; 
    margin: 10px;  
}

.proyecto p{
    margin-bottom: 30px;
}
.linkProyecto{
    font-size: 28px;
    border-radius: 100px;
    border: 1px solid white;
    padding: 10px 10px 10px 20px;
    margin-top: 100px;
    
}

.linkProyecto img{
    width: 25px;
}

/* Contacto */
form div:first-of-type{
    display: flex;
}

form{
    width: 75vh;
}

.inputContacto{
    width: 100%;
     
    background-color: transparent;
    border: 1px solid white;
    color: white;
    padding: 20px;
}





/* .halfLengthInput:first-of-type{
    margin-right: 10px;
}

.halfLengthInput:nth-of-type(2){
    margin-left: 10px;
} */

.fullLengthInput{
    height: 300px;
    text-align: start;
}

#contacto div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

footer{
    margin-top: 7vh;
    display: flex;
    justify-content: space-between;
    padding: 20px 5%;
    background-image: linear-gradient(#1C1C1C, #2D2D2D);
    border-top: 1px solid white;
}

footer h5{
    color: #45EF14;
}

footer img{
    width: 40px;
}

#footerCorreo{
    text-align: left;
}





